.body{
    padding-top: 50px;
    padding-bottom:50px;
}
.carousel{
    height: 530px;
    background-color:#000;
    margin-bottom: 60px;
}

.carousel.item{
    height: 500px;
    background:#000;
}



.carousel-caption p{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
}

.summary-container.col-md-4{
    text-align: center;
    margin-bottom: 20px;
}
