$red:red;
$top:50%;
$font-size:50px;
$card-title-size:35px;
$text-size:20px;
$text-indent:2em;
$text-align:center;
$text-color:white;
$margin-top:50px;
$margin-bottom:50px;
$bgcolor:#208C5B;
$relative:relative;
$fixed:fixed;
$nav-top:10px;
$nav-right:20px;
$left:left;
$margin:0px auto;
.navbar-fixed-top{
	//margin:0px;
}
@media screen and(min-width:800px){
	.nav-head{
		position:absolute;
		top:$nav-top;
		right:$nav-right;
		padding-right:50px;
		z-index:1001;
		display:block;
	}
}
@media screen and(max-width:800px){
	.nav-head{
		position:absolute;
		z-index:1001;
		display:block;
		margin:$margin;
		right:20px;
		padding:0px;
	}
	.nav-list li{
		float:left;
		margin-left:10px;
	}
	.nav-list li:nth-child(6){
		margin-left:25px;
	}
	.nav-list li a{
		padding:2px;
	}
}

.nav-head a{
	color:$text-color;	
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: $bgcolor;
    color:#cccccc;
}
.nav-head a:hovor,.nav-head a:focus{
	background-color:$bgcolor;
}
$height:400px;
.head{
	background-color:$bgcolor;
	height:$height;
}
$margin:0px auto;
.maninfo{
	position:$relative;
	height:$height;
	margin:$margin;
	padding-top:150px;
	padding-bottom:150px;
	text-align:$left;
	color:$text-color;
}

@media screen and(min-width:800px){
	.maninfo{
	width:60%;
	}
}
@media screen and(max-width:800px){
	.maninfo{
	width:75%;
	}
}

.title{
	font-size:$font-size;
}
$margin-left:50PX;
.name{
	//margin-left:$margin-left;
	color:$text-color;
	cursor:pointer;
}
$all-color:#497D92;
$underline:underline;
.name:hovor{
	color:blue;
}



.photo{
	position:$relative;
	width:100%;
	margin:$margin;
	text-align:$text-align;
	margin-top:$margin-top;
	margin-bottom:$margin-bottom;
}
.paper{
	position:$relative;
	margin:$margin;
	font-size:$text-size;
	margin-bottom:$margin-bottom;
}

@media screen and(min-width:800px){
	.paper{
		width:60%;
	}
}
@media screen and(max-width:800px){
	.paper{
		width:80%;
	}
}
.card{
	text-align:$text-align;
	margin-bottom:$margin-bottom;
}
.btn-info:first-child{
	margin-right:20px;
}

